@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full height layout */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}